@use "@/scss/helpers" as *;

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;

  &__input {
    position: relative;
    width: 19px;
    height: 19px;
    border-radius: 6px;
    background-color: var(--col-primary-1);
    cursor: pointer;

    @include max-576 {
      width: 22px;
      height: 22px;
    }

    &:checked::after {
      display: block;
      content: "";
      background-image: url('@/assets/img/custom-checkbox.svg');
      background-repeat: no-repeat;
      width: 14px;
      height: 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
    }
  }
}