<section class="advs">
  <div class="container">
    <h2 class="section-title advs__title">Упростите процесс поиска упаковки и получите надежный товар от производителя</h2>
    <div class="advs__main-content">
      <ul class="list-reset advs__list">
        <li class="advs__item accordion open" data-js-accordion>
          <button class="btn-reset accordion__control" aria-expanded="true" data-js-accordion-control>
            <span class="accordion__title">Мировой уровень производства</span>
            <span class="accordion__icon"></span>
          </button>
          <div class="accordion__content" aria-hidden="false" data-js-accordion-content>
            <div class="accordion__wrapper">
              <p class="section-text">
                Мы гордимся нашим современным производственным комплексом площадью более 5000 кв. м., расположенным в Москве и Подмосковье. Здесь мы создаем надежные и эстетичные картонные тубусы, которые идеально подходят для упаковки различных товаров.
              </p>
              <p class="section-text">
                На территории Китая у нас находится высокотехнологичное производство гибкой упаковки, занимающее более 4000 кв. м. Мы предлагаем широкий ассортимент гибких упаковочных материалов, удовлетворяющих самым высоким стандартам качества и экологичности.
              </p>
            </div>
          </div>
        </li>
        <li class="advs__item accordion" data-js-accordion>
          <button class="btn-reset accordion__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion__title">Упаковка в наличии</span>
            <span class="accordion__icon"></span>
          </button>
          <div class="accordion__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion__wrapper">
              <p class="section-text">
                Надежная упаковка в наличии и готова к отправке. Просто выберите, то, что вам нужно на сайте или оставьте заявку. Мы предложим лучшие варианты, чтобы вы смогли начать реализацию своего продукта как можно быстрее.
              </p>
            </div>
          </div>
        </li>
        <li class="advs__item accordion" data-js-accordion>
          <button class="btn-reset accordion__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion__title">Стандарты качества</span>
            <span class="accordion__icon"></span>
          </button>
          <div class="accordion__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion__wrapper">
              <p class="section-text">
                Производственные стандарты и высокотехнологичное оборудование позволяют контролировать качество упаковки на всех этапах.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="advs__video">
        <div class="video-block" data-js-video-wrapper data-id="1">
          <div class="video-block__img-wrapper">
            <picture>
              <source srcset="src/assets/img/video-preview-mobile.avif" media="(max-width: 450px)">
              <img class="video-block__img" src="src/assets/img/video-preview.avif" alt="Превью для видео" width="560" height="372" loading="lazy">
            </picture>
          </div>
          <button class="btn-reset video-block__btn" aria-label="Запустить видео" data-js-video-btn data-id="1" data-src="https://www.youtube.com/embed/abcd1234?autoplay=1" data-title="Видео 1">
            <svg class="video-block__icon" width="32" height="34" viewBox="0 0 32 34" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M31.2125 15.6723C32.2625 16.2322 32.2625 17.7678 31.2125 18.3277L2.14313 33.8281C1.16757 34.3483 -4.80983e-08 33.625 0 32.5004L1.32591e-06 1.49959C1.37401e-06 0.375017 1.16757 -0.348322 2.14314 0.17187L31.2125 15.6723Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="advs__quality-block quality-block">
      <div class="quality-block__img-wrapper">
        <picture>
          <source srcset="src/assets/img/quality-block-img-mobile.avif" media="(max-width: 450px)">
          <img src="src/assets/img/quality-block-img.avif" alt="Образцы продукции" width="560" height="360" loading="lazy">
        </picture>
      </div>
      <div class="quality-block__content">
        <h3 class="section-title section-title--sm">Оцените качество перед покупкой</h3>
        <p class="section-text">
          Мы предлагаем бесплатные образцы: закажите, чтобы убедиться в нашем высоком стандарте качества!
        </p>
        <button class="btn-reset btn">Заказать</button>
      </div>
    </div>
  </div>
</section>