<section class="features">
  <div class="container">
    <h2 class="section-title features__title">Ваш надежный партнер на рынке упаковки</h2>
    <ul class="list-reset features__list">
      <li class="features__item item-features">
        <h3 class="item-features__title">Гибкий подход</h3>
        <p class="section-text">
          Оплата при получении, отсрочка платежа, программа лояльности и индивидуальные условия — предложим Вам лучшие условия для долгосрочного сотрудничества
        </p>
      </li>
      <li class="features__item item-features item-features--efficiency">
        <h3 class="item-features__title">Оперативность</h3>
        <p class="section-text">
          Предложим Вам лучшие варианты для закрытия вашей потребности в упаковке, а ещё сделаем отличный дизайн и доставим в кратчайшие сроки
        </p>
      </li>
      <li class="features__item item-features item-features--team">
        <h3 class="item-features__title">Команда</h3>
        <p class="section-text">
          Наша команда имеет большой опыт в поиске упаковочных решений, которые позволяют оптимизировать расходы бизнеса на конечный продукт
        </p>
      </li>
    </ul>
  </div>
</section>