<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <span class="hero__title-desc">
        Производитель тубусов<br>и гибкой упаковки
      </span>
      <h1 class="hero__title">
        Создаём упаковку, которая нравится конечным потребителям!
      </h1>
      <p class="section-main-desc hero__desc">
        Начните историю вашего бренда, которую заметят, рассмотрят и унесут с собой.
      </p>
      <div class="hero__btns">
        <a href="#" class="btn hero__primary-btn">Создать упаковку</a>
        <a href="#" class="btn btn--secondary btn--black-text hero__secondary-btn">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.04912 6C8.04912 4.80653 8.52323 3.66193 9.36714 2.81802C10.2111 1.97411 11.3556 1.5 12.5491 1.5C13.7426 1.5 14.8872 1.97411 15.7311 2.81802C16.575 3.66193 17.0491 4.80653 17.0491 6C17.0491 7.19347 16.575 8.33807 15.7311 9.18198C14.8872 10.0259 13.7426 10.5 12.5491 10.5C11.3556 10.5 10.2111 10.0259 9.36714 9.18198C8.52323 8.33807 8.04912 7.19347 8.04912 6ZM4.30012 20.105C4.33384 17.9395 5.21776 15.8741 6.76108 14.3546C8.3044 12.8351 10.3833 11.9834 12.5491 11.9834C14.7149 11.9834 16.7938 12.8351 18.3372 14.3546C19.8805 15.8741 20.7644 17.9395 20.7981 20.105C20.8007 20.2508 20.7608 20.3942 20.6832 20.5176C20.6055 20.641 20.4936 20.7392 20.3611 20.8C17.9103 21.9237 15.2453 22.5037 12.5491 22.5C9.76312 22.5 7.11612 21.892 4.73712 20.8C4.60461 20.7392 4.4927 20.641 4.41508 20.5176C4.33747 20.3942 4.29752 20.2508 4.30012 20.105Z" />
          </svg>
          Войти
        </a>
      </div>
    </div>
    <div class="slider-hero" data-js-slider='{"spaceBetween":12,"loop":"true","speed":1000,"autoplay":{"delay":2500,"disableOnInteraction":"true","pauseOnMouseEnter":"true"}}'>
      <div class="swiper slider-hero__swiper" data-js-slider-swiper="slider-hero">
        <div class="swiper-wrapper">
          <div class="swiper-slide slider-hero__slide">
            <img src="src/assets/img/slider-hero-img-1.avif" alt="Фото выпускаемой продукции" width="692" height="492">
          </div>
          <div class="swiper-slide slider-hero__slide">
            <img src="src/assets/img/slider-hero-img-2.avif" alt="Фото выпускаемой продукции" width="692" height="492">
          </div>
          <div class="swiper-slide slider-hero__slide">
            <img src="src/assets/img/slider-hero-img-1.avif" alt="Фото выпускаемой продукции" width="692" height="492">
          </div>
          <div class="swiper-slide slider-hero__slide">
            <img src="src/assets/img/slider-hero-img-2.avif" alt="Фото выпускаемой продукции" width="692" height="492">
          </div>
          <div class="swiper-slide slider-hero__slide">
            <img src="src/assets/img/slider-hero-img-1.avif" alt="Фото выпускаемой продукции" width="692" height="492">
          </div>
        </div>
      </div>
      <div class="hero__slider-pagination slider-pagination" data-js-slider-pagination="slider-hero"></div>
    </div>
  </div>
</section>