<section class="optimization">
  <div class="container">
    <h2 class="section-title optimization__title">Оптимизируйте ваши расходы на упаковку</h2>
  </div>
  <div class="optimization__container">
    <div class="tabs" data-js-tabs>
      <div class="tabs__tablist" role="tablist" aria-label="Оптимизируйте ваши расходы">
        <button class="btn-reset tabs__btn is-active" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="0" data-js-tabs-button>Упаковка</button>
        <button class="btn-reset tabs__btn" role="tab" aria-selected="true" aria-controls="panel-2" id="tab-2" tabindex="-1" data-js-tabs-button>Дизайн</button>
        <button class="btn-reset tabs__btn" role="tab" aria-selected="true" aria-controls="panel-3" id="tab-3" tabindex="-1" data-js-tabs-button>Заказ</button>
        <button class="btn-reset tabs__btn" role="tab" aria-selected="true" aria-controls="panel-4" id="tab-4" tabindex="-1" data-js-tabs-button>Хранение</button>
        <button class="btn-reset tabs__btn" role="tab" aria-selected="true" aria-controls="panel-5" id="tab-5" tabindex="-1" data-js-tabs-button>Оплата</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="optimization__content">
      <div class="tabs-content is-active" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1" data-js-tabs-content>
        <ul class="list-reset products-optimization">
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-1.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">В наличии</a>
          </li>
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-2.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">Для кофе</a>
          </li>
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-3.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">Для чая</a>
          </li>
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-4.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">Для зоотоваров</a>
          </li>
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-5.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">Тубусы из картона</a>
          </li>
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-6.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">Для спортивного питания</a>
          </li>
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-7.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">Для маркетплейсов</a>
          </li>
          <li class="products-optimization__item">
            <div class="products-optimization__img-wrapper">
              <img src="src/assets/img/products-optimization-8.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="products-optimization__link" href="#">Для снеков</a>
          </li>
        </ul>
        <a href="#" class="btn btn--secondary optimization__show-all-link">Смотреть все</a>
      </div>
      <div class="tabs-content" id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" data-js-tabs-content>
        <ul class="list-reset list-optimization">
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Реализуйте свою идею</h3>
                <a href="#" class="card-optimization__link" aria-label="Прочитать подробнее">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.73871 5.09434C7.59826 5.23497 7.51937 5.42559 7.51937 5.62434C7.51937 5.82309 7.59826 6.01371 7.73871 6.15434L11.4587 9.87434L7.73871 13.5943C7.66502 13.663 7.60592 13.7458 7.56493 13.8378C7.52393 13.9298 7.50189 14.0291 7.50012 14.1298C7.49834 14.2305 7.51686 14.3305 7.55458 14.4239C7.59231 14.5173 7.64845 14.6022 7.71967 14.6734C7.79089 14.7446 7.87572 14.8007 7.96911 14.8385C8.0625 14.8762 8.16253 14.8947 8.26323 14.8929C8.36393 14.8912 8.46325 14.8691 8.55525 14.8281C8.64725 14.7871 8.73005 14.728 8.79871 14.6543L13.0487 10.4043C13.1892 10.2637 13.268 10.0731 13.268 9.87434C13.268 9.67559 13.1892 9.48497 13.0487 9.34434L8.79871 5.09434C8.65808 4.95389 8.46746 4.875 8.26871 4.875C8.06996 4.875 7.87933 4.95389 7.73871 5.09434Z" />
                  </svg>
                </a>
              </div>
              <p class="section-text card-optimization__desc">
                Наши специалисты адаптируют ваш дизайн под требования печати, произведут упаковку высочайшего качества и доставят её прямо к вашему порогу
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Доверьтесь профессионалам</h3>
                <a href="#" class="card-optimization__link" aria-label="Прочитать подробнее">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.73871 5.09434C7.59826 5.23497 7.51937 5.42559 7.51937 5.62434C7.51937 5.82309 7.59826 6.01371 7.73871 6.15434L11.4587 9.87434L7.73871 13.5943C7.66502 13.663 7.60592 13.7458 7.56493 13.8378C7.52393 13.9298 7.50189 14.0291 7.50012 14.1298C7.49834 14.2305 7.51686 14.3305 7.55458 14.4239C7.59231 14.5173 7.64845 14.6022 7.71967 14.6734C7.79089 14.7446 7.87572 14.8007 7.96911 14.8385C8.0625 14.8762 8.16253 14.8947 8.26323 14.8929C8.36393 14.8912 8.46325 14.8691 8.55525 14.8281C8.64725 14.7871 8.73005 14.728 8.79871 14.6543L13.0487 10.4043C13.1892 10.2637 13.268 10.0731 13.268 9.87434C13.268 9.67559 13.1892 9.48497 13.0487 9.34434L8.79871 5.09434C8.65808 4.95389 8.46746 4.875 8.26871 4.875C8.06996 4.875 7.87933 4.95389 7.73871 5.09434Z" />
                  </svg>
                </a>
              </div>
              <p class="section-text card-optimization__desc">
                Создадим привлекательный дизайн упаковки под ваши цели и пожелания, который увеличит Ваши продажи
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Зарабатывайте с нами</h3>
                <a href="#" class="card-optimization__link" aria-label="Прочитать подробнее">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.73871 5.09434C7.59826 5.23497 7.51937 5.42559 7.51937 5.62434C7.51937 5.82309 7.59826 6.01371 7.73871 6.15434L11.4587 9.87434L7.73871 13.5943C7.66502 13.663 7.60592 13.7458 7.56493 13.8378C7.52393 13.9298 7.50189 14.0291 7.50012 14.1298C7.49834 14.2305 7.51686 14.3305 7.55458 14.4239C7.59231 14.5173 7.64845 14.6022 7.71967 14.6734C7.79089 14.7446 7.87572 14.8007 7.96911 14.8385C8.0625 14.8762 8.16253 14.8947 8.26323 14.8929C8.36393 14.8912 8.46325 14.8691 8.55525 14.8281C8.64725 14.7871 8.73005 14.728 8.79871 14.6543L13.0487 10.4043C13.1892 10.2637 13.268 10.0731 13.268 9.87434C13.268 9.67559 13.1892 9.48497 13.0487 9.34434L8.79871 5.09434C8.65808 4.95389 8.46746 4.875 8.26871 4.875C8.06996 4.875 7.87933 4.95389 7.73871 5.09434Z" />
                  </svg>
                </a>
              </div>
              <p class="section-text card-optimization__desc">
                Делегируйте ваши задачи по дизайну опытным дизайнерам: наш сервис поможет вам найти прекрасного специалиста
              </p>
            </article>
          </li>
          <li class="list-optimization__item list-optimization__item--img-bg">
            <div class="card-optimization card-optimization--img card-optimization--design">
              <span class="card-optimization__text-bg">
                Портфолио
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.7207 7.71995C16.5802 7.86058 16.5013 8.0512 16.5013 8.24995C16.5013 8.4487 16.5802 8.63932 16.7207 8.77995L19.1907 11.25H3.00066C2.80175 11.25 2.61098 11.329 2.47033 11.4696C2.32968 11.6103 2.25066 11.801 2.25066 12C2.25066 12.1989 2.32968 12.3896 2.47033 12.5303C2.61098 12.6709 2.80175 12.75 3.00066 12.75H19.1907L16.7207 15.22C16.647 15.2886 16.5879 15.3714 16.5469 15.4634C16.5059 15.5554 16.4838 15.6547 16.4821 15.7554C16.4803 15.8561 16.4988 15.9562 16.5365 16.0495C16.5743 16.1429 16.6304 16.2278 16.7016 16.299C16.7728 16.3702 16.8577 16.4264 16.9511 16.4641C17.0445 16.5018 17.1445 16.5203 17.2452 16.5185C17.3459 16.5168 17.4452 16.4947 17.5372 16.4537C17.6292 16.4127 17.712 16.3536 17.7807 16.28L21.5307 12.53C21.6711 12.3893 21.75 12.1987 21.75 12C21.75 11.8012 21.6711 11.6106 21.5307 11.47L17.7807 7.71995C17.64 7.5795 17.4494 7.50061 17.2507 7.50061C17.0519 7.50061 16.8613 7.5795 16.7207 7.71995Z" />
                </svg>
              </span>
              <a href="#" class="card-optimization__link-bg" aria-label="Прочитать подробнее"></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="tabs-content" id="panel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" data-js-tabs-content>
        <ul class="list-reset list-optimization">
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Бесплатные образцы</h3>
                <a href="#" class="card-optimization__link" aria-label="Прочитать подробнее">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.73871 5.09434C7.59826 5.23497 7.51937 5.42559 7.51937 5.62434C7.51937 5.82309 7.59826 6.01371 7.73871 6.15434L11.4587 9.87434L7.73871 13.5943C7.66502 13.663 7.60592 13.7458 7.56493 13.8378C7.52393 13.9298 7.50189 14.0291 7.50012 14.1298C7.49834 14.2305 7.51686 14.3305 7.55458 14.4239C7.59231 14.5173 7.64845 14.6022 7.71967 14.6734C7.79089 14.7446 7.87572 14.8007 7.96911 14.8385C8.0625 14.8762 8.16253 14.8947 8.26323 14.8929C8.36393 14.8912 8.46325 14.8691 8.55525 14.8281C8.64725 14.7871 8.73005 14.728 8.79871 14.6543L13.0487 10.4043C13.1892 10.2637 13.268 10.0731 13.268 9.87434C13.268 9.67559 13.1892 9.48497 13.0487 9.34434L8.79871 5.09434C8.65808 4.95389 8.46746 4.875 8.26871 4.875C8.06996 4.875 7.87933 4.95389 7.73871 5.09434Z" />
                  </svg>
                </a>
              </div>
              <p class="section-text card-optimization__desc">
                Вы сможете оценить качество упаковки, прежде чем заказать тираж
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Малый тираж</h3>
                <a href="#" class="card-optimization__link" aria-label="Прочитать подробнее">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.73871 5.09434C7.59826 5.23497 7.51937 5.42559 7.51937 5.62434C7.51937 5.82309 7.59826 6.01371 7.73871 6.15434L11.4587 9.87434L7.73871 13.5943C7.66502 13.663 7.60592 13.7458 7.56493 13.8378C7.52393 13.9298 7.50189 14.0291 7.50012 14.1298C7.49834 14.2305 7.51686 14.3305 7.55458 14.4239C7.59231 14.5173 7.64845 14.6022 7.71967 14.6734C7.79089 14.7446 7.87572 14.8007 7.96911 14.8385C8.0625 14.8762 8.16253 14.8947 8.26323 14.8929C8.36393 14.8912 8.46325 14.8691 8.55525 14.8281C8.64725 14.7871 8.73005 14.728 8.79871 14.6543L13.0487 10.4043C13.1892 10.2637 13.268 10.0731 13.268 9.87434C13.268 9.67559 13.1892 9.48497 13.0487 9.34434L8.79871 5.09434C8.65808 4.95389 8.46746 4.875 8.26871 4.875C8.06996 4.875 7.87933 4.95389 7.73871 5.09434Z" />
                  </svg>
                </a>
              </div>
              <p class="section-text card-optimization__desc">
                Закажите небольшой тираж: картонные тубусы - от 300 штук, а гибкую упаковку - от 1000 штук
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Скидки за объем</h3>
              </div>
              <p class="section-text card-optimization__desc">
                Закажите большой объем и получите хорошую скидку на ваш заказ
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Бонус за рекуррентные платежи</h3>
              </div>
              <p class="section-text card-optimization__desc">
                Вы сможете оценить качество упаковки, прежде чем заказать тираж
              </p>
            </article>
          </li>
        </ul>
      </div>
      <div class="tabs-content" id="panel-4" role="tabpanel" tabindex="0" aria-labelledby="tab-4" data-js-tabs-content>
        <ul class="list-reset list-optimization">
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Ваш склад без аренды и коммунальных платежей</h3>
              </div>
              <p class="section-text card-optimization__desc">
                Храните упаковку на нашем складе без дополнительных платежей и получайте упаковку по мере необходимости
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Больше покупаете — больше сохраняете!</h3>
              </div>
              <p class="section-text card-optimization__desc">
                Долгосрочное сотрудничество может принести вам не только качественную упаковку, но гарантированную экономию
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Оптимизируйте расходы</h3>
              </div>
              <p class="section-text card-optimization__desc">
                Долгосрочное сотрудничество может принести вам не только качественную упаковку, но гарантированную экономию
              </p>
            </article>
          </li>
          <li class="list-optimization__item list-optimization__item--img-bg">
            <div class="card-optimization card-optimization--img card-optimization--storage">
              <span class="card-optimization__text-bg">
                Об услуге
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.7207 7.71995C16.5802 7.86058 16.5013 8.0512 16.5013 8.24995C16.5013 8.4487 16.5802 8.63932 16.7207 8.77995L19.1907 11.25H3.00066C2.80175 11.25 2.61098 11.329 2.47033 11.4696C2.32968 11.6103 2.25066 11.801 2.25066 12C2.25066 12.1989 2.32968 12.3896 2.47033 12.5303C2.61098 12.6709 2.80175 12.75 3.00066 12.75H19.1907L16.7207 15.22C16.647 15.2886 16.5879 15.3714 16.5469 15.4634C16.5059 15.5554 16.4838 15.6547 16.4821 15.7554C16.4803 15.8561 16.4988 15.9562 16.5365 16.0495C16.5743 16.1429 16.6304 16.2278 16.7016 16.299C16.7728 16.3702 16.8577 16.4264 16.9511 16.4641C17.0445 16.5018 17.1445 16.5203 17.2452 16.5185C17.3459 16.5168 17.4452 16.4947 17.5372 16.4537C17.6292 16.4127 17.712 16.3536 17.7807 16.28L21.5307 12.53C21.6711 12.3893 21.75 12.1987 21.75 12C21.75 11.8012 21.6711 11.6106 21.5307 11.47L17.7807 7.71995C17.64 7.5795 17.4494 7.50061 17.2507 7.50061C17.0519 7.50061 16.8613 7.5795 16.7207 7.71995Z" />
                </svg>
              </span>
              <a href="#" class="card-optimization__link-bg" aria-label="Прочитать подробнее"></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="tabs-content" id="panel-5" role="tabpanel" tabindex="0" aria-labelledby="tab-5" data-js-tabs-content>
        <ul class="list-reset list-optimization">
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Рассрочка</h3>
              </div>
              <p class="section-text card-optimization__desc">
                Рассрочка платежа до 6 месяцев на брендированную упаковку, при предоплате от 20%
              </p>
            </article>
          </li>
          <li class="list-optimization__item">
            <article class="card-optimization">
              <div class="card-optimization__caption">
                <h3 class="card-optimization__title">Оплата при получении</h3>
              </div>
              <p class="section-text card-optimization__desc">
                Предоставляет постоянным клиентам оплату при получении и отсрочку платежа до 30 дней на готовые решения
              </p>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>