<section class="partners">
  <div class="container">
    <h2 class="partners__title">Нам доверяют</h2>
    <div class="partners__scroller">
      <div class="scroller" data-js-scroller>
        <div class="scroller__inner" data-js-scroller-inner>
          <div class="scroller__img">
            <img src="src/assets/img/partners-logo-4.svg" alt="Логотип конторы" width="160" height="80">
          </div>
          <div class="scroller__img">
            <img src="src/assets/img/partners-logo-1.svg" alt="Логотип конторы" width="160" height="80">
          </div>
          <div class="scroller__img">
            <img src="src/assets/img/partners-logo-2.svg" alt="Логотип конторы" width="160" height="80">
          </div>
          <div class="scroller__img">
            <img src="src/assets/img/partners-logo-5.svg" alt="Логотип конторы" width="160" height="80">
          </div>
          <div class="scroller__img">
            <img src="src/assets/img/partners-logo-6.svg" alt="Логотип конторы" width="160" height="80">
          </div>
          <div class="scroller__img">
            <img src="src/assets/img/partners-logo-3.svg" alt="Логотип конторы" width="160" height="80">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>