<section class="products">
  <div class="container">
    <div class="products__header">
      <div class="products__caption">
        <h2 class="section-title">Виды упаковки, которые вы можете заказать у нас</h2>
        <p class="section-text">
          Ознакомьтесь с нашим ассортиментом упаковочных решений, которые подходят для различных категорий продуктов.
        </p>
      </div>
      <div class="products__slider-controls">
        <div class="slider-nav">
          <button class="btn-reset slider-btn" aria-label="Предыдущий слайд" data-js-slider-previous="slider-products">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.27995 7.72007C7.4204 7.8607 7.49929 8.05132 7.49929 8.25007C7.49929 8.44882 7.4204 8.63945 7.27995 8.78007L4.80995 11.2501H21C21.1989 11.2501 21.3896 11.3291 21.5303 11.4697C21.6709 11.6104 21.75 11.8012 21.75 12.0001C21.75 12.199 21.6709 12.3898 21.5303 12.5304C21.3896 12.6711 21.1989 12.7501 21 12.7501H4.80995L7.27995 15.2201C7.35364 15.2887 7.41274 15.3715 7.45373 15.4635C7.49472 15.5555 7.51677 15.6548 7.51854 15.7556C7.52032 15.8563 7.50179 15.9563 7.46407 16.0497C7.42635 16.1431 7.37021 16.2279 7.29899 16.2991C7.22777 16.3703 7.14294 16.4265 7.04955 16.4642C6.95616 16.5019 6.85613 16.5204 6.75543 16.5187C6.65473 16.5169 6.55541 16.4948 6.46341 16.4539C6.37141 16.4129 6.28861 16.3538 6.21995 16.2801L2.46995 12.5301C2.3295 12.3894 2.25061 12.1988 2.25061 12.0001C2.25061 11.8013 2.3295 11.6107 2.46995 11.4701L6.21995 7.72007C6.36058 7.57962 6.5512 7.50073 6.74995 7.50073C6.9487 7.50073 7.13933 7.57962 7.27995 7.72007Z" />
            </svg>
          </button>
          <button class="btn-reset slider-btn" aria-label="Следующий слайд" data-js-slider-next="slider-products">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M16.7207 7.72007C16.5802 7.8607 16.5013 8.05132 16.5013 8.25007C16.5013 8.44882 16.5802 8.63945 16.7207 8.78007L19.1907 11.2501H3.00066C2.80175 11.2501 2.61098 11.3291 2.47033 11.4697C2.32968 11.6104 2.25066 11.8012 2.25066 12.0001C2.25066 12.199 2.32968 12.3898 2.47033 12.5304C2.61098 12.6711 2.80175 12.7501 3.00066 12.7501H19.1907L16.7207 15.2201C16.647 15.2887 16.5879 15.3715 16.5469 15.4635C16.5059 15.5555 16.4838 15.6548 16.4821 15.7556C16.4803 15.8563 16.4988 15.9563 16.5365 16.0497C16.5743 16.1431 16.6304 16.2279 16.7016 16.2991C16.7728 16.3703 16.8577 16.4265 16.9511 16.4642C17.0445 16.5019 17.1445 16.5204 17.2452 16.5187C17.3459 16.5169 17.4452 16.4948 17.5372 16.4539C17.6292 16.4129 17.712 16.3538 17.7807 16.2801L21.5307 12.5301C21.6711 12.3894 21.75 12.1988 21.75 12.0001C21.75 11.8013 21.6711 11.6107 21.5307 11.4701L17.7807 7.72007C17.64 7.57962 17.4494 7.50073 17.2507 7.50073C17.0519 7.50073 16.8613 7.57962 16.7207 7.72007Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="products__container">
    <div class="slider-products" data-js-slider='{"spaceBetween":16,"loop":"true","breakpoints":{"600":{"spaceBetween":40}}}'>
      <div class="swiper slider-products__swiper" data-js-slider-swiper="slider-products">
        <div class="swiper-wrapper">
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/products-optimization-5.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Картонные тубусы</a>
          </div>
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/products-optimization-4.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Гибкая упаковка</a>
          </div>
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/products-optimization-6.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Упаковка в наличии</a>
          </div>
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/products-optimization-7.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Для маркетплейсов</a>
          </div>
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/product-slider-1.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Картонные гильзы</a>
          </div>
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/products-optimization-2.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Для кофе</a>
          </div>
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/products-optimization-3.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Для чая</a>
          </div>
          <div class="swiper-slide slider-products__slide product-slider">
            <div class="product-slider__img-wrapper">
              <img src="src/assets/img/products-optimization-8.avif" alt="Фото продукта" width="260" height="260" loading="lazy">
            </div>
            <a class="product-slider__link" href="#">Для снэков</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>