<section class="subscribe">
  <div class="container">
    <div class="subscribe__container">
      <div class="subscribe__img-wrapper">
        <img src="src/assets/img/subscribe-img.avif" alt="Подпишитесь на рассылку" width="560" height="360" loading="lazy">
      </div>
      <div class="subscribe__content">
        <h2 class="section-title section-title--sm subscribe__title">Будьте в курсе новостей</h2>
        <p class="section-text subscribe__desc">
          Мы предлагаем бесплатные образцы: закажите, чтобы убедиться в нашем высоком стандарте качества!
        </p>
        <form action="#" class="subscribe__form subscribe-form">
          <div class="subscribe-form__fieldset">
            <div class="subscribe-form__field">
              <label for="subscribe-form-email" class="visually-hidden">Введите свой адрес электронной почты</label>
              <input class="input-reset subscribe-form__input" type="email" id="subscribe-form-email" autocomplete="email" placeholder="Введите Ваш email" required>
            </div>
            <button class="btn-reset btn" type="submit">Подписаться</button>
          </div>
          <div class="subscribe-form__checkbox">
            <label class="custom-checkbox" for="subscribe-form-checkbox">
              <input type="checkbox" class="input-reset custom-checkbox__input" id="subscribe-form-checkbox" required checked>
              <span class="visually-hidden">Согласен с политикой обработки данных</span>
            </label>
            <span class="subscribe-form__checkbox-content">Соглашаюсь с <a href="#">Политикой обработки данных</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>